@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: auto;
  background: #5f41e4;
}

#root{
  width: 100%;
  padding: 0 0.6rem;
}


.login-container{
  height: auto;
  max-width: 410px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.login-container .form-title{
  text-align: center;
  margin-bottom: 1.87rem;
}

.login-container .social-login{
  display: flex;
  gap: 1.31rem;
}

.social-login .social-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.81rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 0;
  border-radius: 0.31rem;
  background: #F9F8FF;
  border: 1px solid #D5CBFF;
  transition: 0.3s ease;
}


.social-login .social-btn:hover{
  background: #f1eff9;
  border-color: #5f41e4;
}

.social-login .social-btn .social-icon{
  width: 23px;
}


.login-container .separator{
  text-align: center;
  margin: 1.5rem 0;
  position: relative;
}


.login-container .separator::after{
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bfb3f2;
  align-self: center;
}

.login-container .separator span{
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 0 0.9rem;
  font-size: 1.06rem;
  font-weight: 500;
}

.login-form .input-wrapper{
  height: 54px;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.login-form .input-wrapper .input-field{
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1.06rem;
  border: 1px solid #bfb3f2;
  padding: 0 1.25rem 0 3.12rem;
  transition: 0.2s ease;
}


.login-form .input-wrapper .input-field:focus{
  border-color: #5f41e4;
}


.login-form .input-wrapper .input-field::placeholder {
  color: #a395e0;
}


.login-form .input-wrapper i{
  color: #a395e0;
  position: absolute;
  top: 50%;
  left: 0.9rem;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus ~ i {
  border-color: #5f41e4;
}


.login-form .login-btn{
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #a395e0;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}


.login-form .login-btn:hover{
  background-color: #5f41e4;
}


.login-container a{
  text-decoration: none;
  color: #5f41e4;
}

.login-container a:hover{
  text-decoration: underline;
}


.login-container .signup-text{
  text-align: center;
}